 /* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/* Layout */

main {
    overflow:auto;
    min-width:45rem;
    
}

section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}

figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figure img {
    width:100%;
    max-width:25rem;
}

figcaption {
    margin:.375rem 0;
}

.long-list {
    margin-top:0;
}

nav {
    float: left;
    width:11.25rem;
}

footer {
    clear: both;
    margin-top:1.5rem;
}

section, aside, nav, footer {
  padding: .5rem;
}

/* header and footer */


/* ------ START WRITING YOUR CODE BELOW THIS LINE ------ */

/* NO changes should be made to any of the code above. */

/* NOTE: While you will be using some of the same CSS properties, the VALUES 
   may need to be different in order to style the page correctly. */



/* Imported Typfaces 
/* Typography Styles */

html {
	font-family: Montserrat, Arial, sans-serif;
}

h1 {
	font-family: Josefinslab, Garamond, serif;
	letter-spacing: 0.125rem;
	font-size:3.75rem;
	margin:1.125rem;
	text-align:center;
}

h2{
	font-family: Josefinslab, Garamond, serif;
	letter-spacing: 0.125rem;
	font-size:1.5rem;
	
}

h2 + p {
	font-family: Josefinslab, Garamond, serif;
	letter-spacing: 0.125rem;
	font-size:1.5rem;
	
	font-size:0.75rem;
	letter-spacing:0.031rem;
	word-spacing:0.125rem;
	text-indent:1.5rem;
}

p {
	font-family: Josefinslab, Garamond, serif;
	font-size:0.75rem;
	letter-spacing:0.031rem;
	word-spacing:0.125rem;
}

li{font-family: Josefinslab, Garamond, serif;
	font-size:0.75rem;
	letter-spacing:0.031rem;
	word-spacing:0.125rem;
}

figcaption{
	font-family: Josefinslab, Garamond, serif;
	font-size:0.75rem;
	margin-bottom:2rem;
}
/* Link Styling */

a{font-family: Josefinslab, Garamond, serif;
	text-decoration: none;}

a:link,
a:visited {
	color:#33658A;
}

a:focus,
a:hover {		
	text-decoration-line: underline, none;
}
/* List Styling */

ul {font-family: Josefinslab, Garamond, serif;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0rem;
	margin-right: 0rem;
	list-style-type: square;
}

ol {font-family: Josefinslab, Garamond, serif;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0rem;
	margin-right: 0rem;
	list-style-type:lower-latin;
}

.long-list a:hover {
	text-transform: capitalize;
}


/* Navigation Menu */



nav a:focus,
nav a:hover {
	color:#FFF;
	background-color:#33658A;
}

nav a:active {
	color:#FFF;
	background-color:#000;
}

/* Footer Styles */

footer {
	text-align: center;
}






@font-face{
font-family:Lato;
	src: url(../fonts/lato-regular.ttf) format('truetype');
	font-weight:normal;
	font-style:normal;
}


.main-section{
display: flex;
}

article{
width:70%;
}

aside{
width:30%;
}


.grid{
display: grid;
grid-template-columns:repeat(6, auto);
background-color: antiquewhite;
clear:both;
margin: 0;
}

.grid img{
width: 100%;
}

button {
margin-top: 2.5rem;
font-family: Ultra, serif;
font-size: 1.5rem;
color: #eeeedd;
padding: 1rem 1rem;
background-color: #27476e;
border-radius: 1rem;
border: none;
box-shadow: 2px 2px 2px #333;

}

.highlight {
text-transform: uppercase;
font-family: "ultraregular", serif;
background-color: maroon;
padding: 1rem;
box-shadow:0.625rem 0.625rem 0.625rem grey;
border-radius: 1.875rem 0.625rem;
border-color: black;
color: beige;
}
ul {
  border-top: .125rem solid black;
  border-bottom: .125rem solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float:left;
  margin-left: 0; 
}

li a {
  display: block;
  text-align: center;
  padding: 0.875rem, 1rem;
  text-decoration: none;
}

li a:hover:not(.active) {
}

.active {
  background-color: white;
}
.column {
  float: left;
    padding: 0.625rem;
    height: 18.75rem;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.row:after {
    display:table;
    clear: both;
}

article{
    width:75%;}

}

aside{
    width:25%;
}

img{
    width: 100%; 
    max-width: 25rem;}
    